<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>INDEX PAGE</title>
<link rel=stylesheet type=text/css th:href="@{/index.css}">
</head>
<body>
	<div class="container">
		<h2>TUNEHUB</h2>
		<div class="sub-container">
			<h3>Listen to Tunehub Non-Stop</h3>
			<h4>Quick Sign in Option</h4>

			<div class="option">
				<a href="login">LOGIN</a> <br /> <br /> <a href="registration">REGISTER</a>
			</div>
			
		</div>
	</div>


</body>
</html>